.eRow .ePreview.eText {
  font-size: 12px;
  /* text-align: center; */
  color: #999999;
  padding: 0% 4% 0%;
  overflow: hidden;
  text-shadow: 1px 1px 1px #FFF; }

.eRow .ePreview.eText img {
  max-width: 100px;
  border-radius: 10px;
  height: auto;
  /* opacity: 0.5; */ }

.eIcoFile:before {
  content: "\F15C";
  display: block;
  font-family: 'FontAwesome';
  color: black;
  text-align: center; }

.editor_options li:hover {
  cursor: pointer; }
.editor_options .text_format li.selected {
  border: 1px solid  #2196f3;
  color: #2196f3; }
.editor_options .editor-formats {
  background: #fff;
  padding: 0px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 6px; }
  .editor_options .editor-formats li {
    padding: 10px;
    position: relative; }
    .editor_options .editor-formats li:not(:last-child) {
      border-bottom: 1px solid #ddd; }
    .editor_options .editor-formats li[data-format="H1"]:after {
      content: "h1"; }
    .editor_options .editor-formats li[data-format="H2"]:after {
      content: "H2"; }
    .editor_options .editor-formats li[data-format="H3"]:after {
      content: "H3"; }
    .editor_options .editor-formats li[data-format="H4"]:after {
      content: "H4"; }
    .editor_options .editor-formats li[data-format="H5"]:after {
      content: "H5"; }
    .editor_options .editor-formats li[data-format="H6"]:after {
      content: "H6"; }
    .editor_options .editor-formats li[data-format="BLOCKQUOTE"]:after {
      content: "\"";
      font-size: 40px;
      top: 0px !important; }
    .editor_options .editor-formats li.selected:after {
      color: #1b7cd5; }
    .editor_options .editor-formats li:after {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: #ddd; }
    .editor_options .editor-formats li.selected {
      background: #2196f3;
      color: #fff; }
  .editor_options .editor-formats h1, .editor_options .editor-formats h2, .editor_options .editor-formats h3, .editor_options .editor-formats h4, .editor_options .editor-formats h5, .editor_options .editor-formats h6 {
    margin: 0px !important;
    padding: 0px !important;
    text-decoration: none;
    border: none !important; }
  .editor_options .editor-formats h1 {
    font-size: 25px;
    font-weight: bold; }
  .editor_options .editor-formats h2 {
    font-size: 20px; }
  .editor_options .editor-formats h3 {
    font-size: 16px;
    font-weight: bold; }
  .editor_options .editor-formats h4 {
    font-size: 13px; }
  .editor_options .editor-formats h5 {
    font-size: 13px;
    font-weight: bold; }
  .editor_options .editor-formats h6 {
    font-size: 13px; }
  .editor_options .editor-formats p {
    padding: 0px;
    margin: 0px; }

.mce-panel {
  background: #fff !important; }

.mce-btn {
  background: transparent !important; }

.mce-toolbar-grp .mce-flow-layout-item {
  background-color: transparent !important;
  border: 1px solid #ddd;
  border-radius: 3px; }

.mce-active {
  background-color: #2196f3 !important;
  border: 1px solid #2196f3 !important; }
  .mce-active .mce-ico {
    color: #fff !important; }

.mce-primary button {
  background-color: #00C8B9; }

.mce-menu {
  position: fixed !important; }

/*# sourceMappingURL=text.css.map */
